<div class="container">
  <div class="chatArea">
    <mat-list *ngFor="let comment of comments">
      <app-comment
        [name]="comment.name"
        [createAt]="comment.createAt"
        [content]="comment.content"
      ></app-comment>
    </mat-list>
  </div>

  <div class="commentEntryArea">
    <form class="formGroup">
      <mat-form-field class="content">
        <mat-label>メッセージ</mat-label>
        <input matInput placeholder="" [(ngModel)]="message" name="message" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="entry"
        (click)="onClickEntry(message)"
      >
        入力
      </button>
    </form>
  </div>
</div>
